{% extends 'base.html' %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h1>Reset password</h1>
    <form action="{{ url_for('auth.reset_request') }}" method="post">
        <div class="field">
            <p>Email Adress</p>
            <div class="control">
                <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
            </div>
        </div>
        <button class="button is-block is-info is-large is-fullwidth" type='submit'>Send</button>
    </form>
</div>
    
{% endblock %}
