Flask
flask-sqlalchemy
flask-login
flask-restful
flask-mail
PyJWT
marshmallow
marshmallow-jsonapi
flask-apispec
flask-cors
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
Flask-WTF==0.14.3